*{
    margin: 0;
    
}

body{

    background-image: url('../imagens/depoimentos/contatos.jpeg');
    
    background-size: 100% 100%;
    background-attachment: fixed;
}
.botoes{
.inicio{
      width:70px;
      height:32px;
      position:relative;
      left:350px;
      top:15px;
}
    .cursos{
        width:100px;
        height:27px;
        position:relative;
        left:390px;
        top:15px;
    }

    .quemsomos{
        width:120px;
        height:28px;
        position:relative;
        left:430px;
        top:15px;
    }

    .depoimentos{
        width:120px;
        height:28px;
        position:relative;
        left:470px;
        top:14px;
    }

    .contatos{
        width:120px;
        height:26px;
        position:relative;
        left:510px;
        top:15px;
    }
}

.testemunhos{
    .caixa1{
        width:1150px;
        height:140px;
        position:relative;
        left:30px;
        top:80px;
    }

    .caixa2{
        width:1150px;
        height:140px;
        position:relative;
        left:30px;
        top:80px;
    }

    .caixa3{
        width:1150px;
        height:140px;
        position:relative;
        left:30px;
        top:80px;

    }
}

.logo{

    img{
        width: 90px;
        height: 90px;
        position:fixed;
        bottom:475px;
        left:30px;
    }
}